       * {
            padding:0px;
            margin:0px;

            list-style:none;
            text-decoration:none;
        }
        #a1 {
            width:100%;
            height:2px;
            background-color:fuchsia;
        }
        #fcontent {
            width:985px;
            height:150px;
            margin:0px auto;
            /*background-color:#936;*/
            /*margin-top:2px;*/
        }
    a {
        border:none;
    }